

<div>
<h2><%= askQuestion.title %> </h2>
<h3><%= askQuestion.category %></h3>
<h4>User<%= askQuestion.user.fullName  %></h4>
<p><%= askQuestion.question%></p>
</div>
<div>
    <form action="/question/view/<%=askQuestion.id%>" method="POST">

        <input type="input" name="comment" autocomplete="off">
    
        <button type="submit">Add comment</button>
    </form>
    
     <% askQuestion.comments.forEach(c => { %>
            <p>
                <%= c.comment %>
            </p>
            <% }) %>
</div>
