<h1>Classroom</h1>

<% listQuestions.forEach(function(q) { %>
    <h2>
      <a href="/question/view/<%= q.id %>">
        <%= q.title %>
      </a>
    </h2>
    <h3><%= q.category %></h3>
    <% { %>
        <h4>USER <%= q.user.fullName  %></h4>
    <% } %>
    <p><%= q.question %></p>
         
  </div>
<% }) %>

